#navtitle{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color:#010202;
}

* {
  box-sizing:border-box;
}


body {
  background: #47747c;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 380px;
  height: 318px;
  margin: 0 auto;
  outline: 1px solid black;

  transform: scale(2.0) translateY(30%);
}

.game-container canvas {
  image-rendering: pixelated;
}

#myAboutMeLink{
  position:absolute;
  top:105px;
  left:98px;
  font-size:13px;
  color:transparent;
}

#myBlogLink{
  position:absolute;
  top:105px;
  right:120px;
  font-size:13px;
  color:transparent;
}


#myPortfolioLink{
  position:absolute;
  top:205px;
  right:98px;
  font-size:13px;
  color:transparent;
}


.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px; 
  padding: 4px;
  background: #11111081;
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);

}
.TextMessage_p {
  margin: 0;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:aqua;
}
.TextMessage_button {
  margin: 0;
  font-size: 8px;  
  padding:0;
  -webkit-appearance: none;
  background:none;
  border:1;
  font-family: inherit;
  cursor: pointer;
  color:#e3f0f0;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  right:135px;
}


#biggie{
  position:relative;
  text-align: center;
  top: 400px;
  font-family: 'Press Start 2P', cursive;


}