#navtitle{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color:#010202;
}

* {
  box-sizing:border-box;
}


body {
  background: #47747c;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 380px;
  height: 318px;
  margin: 0 auto;
  outline: 1px solid black;

  transform: scale(2.0) translateY(30%);
}

.game-container canvas {
  image-rendering: pixelated;
}

